.DS_Store
Thumbs.db
~*

# Basic Python-y things
env/

# JupyterBook
_build/
# MyST build outputs
_build

# Quarto
/env/
/.quarto/
_book/

# LaTex Complication Messes
*.aux
*.log
content/*.tex
*.toc
*.idx
content/*.pdf
content/*_files/**

# Conversion
conversion/chapters/*
!conversion/figures/.gitkeep

/.luarc.json

# Utils while building...
_index_entries.txt
index-list.quarto_ipynb
