.DS_Store
Thumbs.db
~*

# Basic Python-y things
env/

# JupyterBook
_build/
# MyST build outputs
_build

# Quarto
/env/
.quarto
_book

# Custom Index Rendering Files.
_index_entries.txt
content/**/*.pdf
content/**/*.tex
content/**/*.html
site_libs/


# LaTex Complication Messes
*.aux
*.log
content/*.tex
*.toc
*.idx
*.ilg
*.ind
*.out
# Ignore all intermediate tex files
# TODO: this may be too broad
*.tex
content/*.pdf
content/*_files/**

# Conversion
conversion/chapters/*
!conversion/figures/.gitkeep

/.luarc.json

# Utils while building...
_index_entries.txt
index-list.quarto_ipynb

/.quarto/
